# Parámetros PID
KP=0.50
KI=0.0004
KD=0.20

# Parámetros del Reactor
AMBIENT_TEMP=20.0
COOLING_RATE=0.05
HEATING_EFFICIENCY=1.0
THERMAL_INERTIA=0.18

# Parámetros de Simulación
SETPOINT=75.0
INITIAL_TEMP=20.0
SAMPLE_TIME=30
MAX_ITERATIONS=40
